@media screen and (max-width: 768px) {
  .offers-container {
    text-align: center;
    width: 414px;
    height: 188px;
    top: 64px;
    left: -17px;
    margin-left: 150px;
  }
  .slider-img {
    width: 414px;
    height: 188px;
    top: 64px;
    left: -17px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .offers-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1440px;
    height: 530px;
  }

  .slider-img {
    width: 1110px;
    height: 320px;
    border-radius: 8px;
    margin-left: 130px;
    margin-top: 50px;
  }
}
